<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Current Weather
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Current Weather</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card id="container">
    <ion-card-header>
      Current Weather
    </ion-card-header>
    <ion-card-content>
      <!-- Input field for entering city name -->
      <ion-item>
        <ion-label position="floating">City Name</ion-label>
        <ion-input [(ngModel)]="cityName" type="text"></ion-input>
      </ion-item>
      
      <!-- Button to trigger weather search -->
      <ion-button expand="block" (click)="searchWeather()">
        Search Weather
      </ion-button>
      
      <!-- Display weather information -->
      <div *ngIf="weatherData">
        <ion-card-header>
          Weather Information for {{ cityName }}
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col size="3">
              <img [src]="'https://openweathermap.org/img/wn/' + weatherData.icon + '.png'" alt="Weather Icon" class="weather-icon ">
            </ion-col>
            <ion-col size="9">
              <p class="temperature">Temperature: {{ weatherData?.temperature }}°C</p>
              <p class="description">Condition: {{ weatherData?.description }}</p>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </div>
    </ion-card-content>
  </ion-card>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
